.App {
  text-align: center;
}

#header {
  background-color: #007BFF;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
}

.Main {
  padding-top: 1em;
}

/*.prod-card {*/
/*  margin: 1em;*/
/*}*/

.price {
  font-weight: 600;
  font-size: 1.2em;
}

.cart {
  top: 7.5em;
}

h4 {
  font-size: 1.2em;
}

.card-img-top {
  padding: 2em;
}

.card-title.h5 {
  font-weight: bolder;
  font-size: 1.4em;
}

.card-header {
  font-size: 1.4em;
  font-weight: 700;
}